.padding{
  padding-top:10px;
}
body{
  font-size:20px
}
.padding-top-20{
  padding-top:20px;
}
.crimson-color{
  background-color: crimson;
  color: white
}
p {
  font-size: 14px;
}
.width-100per{
  width: 100%;
}
.back-ground-color-active{
  background-color: crimson;
}
.text-center{
  text-align: center;
}
