<div class="container">
  <ng-container *ngIf="isSuccess; then success else fail">
  </ng-container>
  <ng-template #success>
    <div class="row">
      <div class="col-12" style="padding-left: 40%;"><mat-icon style="font-size: 50px; color: green;">check_circle</mat-icon></div>
    </div>
    <div class="row">
      <h1 class="col-12">Thanh toán thành công!</h1>
    </div>
  </ng-template>
  <ng-template #fail>
    <div class="row">
      <div class="col-12" style="padding-left: 40%;"><mat-icon style="font-size: 50px; color: crimson;">cancel</mat-icon></div>
    </div>
    <div class="row">
      <h1 class="col-12">Thanh toán thất bại!</h1>
    </div>
  </ng-template>
</div>
