@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/cdk/overlay-prebuilt.css';

body {
  font-family: 'Montserrat', sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.75 !important;
}
