<div class="row">
  <div class="col-1">
    <mat-icon style="margin: 23px -4px;">location_on</mat-icon>
  </div>
  <div class="col-11">
    <div class="account-nav-title">Thay đổi thông tin liên hệ</div>
  </div>
</div>
<form [formGroup]="deliveryAddressForm" class="padding-top-20" (ngSubmit)=updateContact()>
  <mat-dialog-content class="mat-typography">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="width-100per" appearance="fill">
            <mat-label>Họ tên</mat-label>
            <input matInput formControlName="fullName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="width-100per" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="width-100per" appearance="fill">
            <mat-label>Số điện thoại (+84)</mat-label>
            <input matInput formControlName="phoneNumber">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="width-100per" appearance="fill">
            <mat-label>Địa chỉ giao hàng</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="row justify-content-end">
    <div class="col-4">
      <button mat-raised-button class="crimson-color" type='submit'>Lưu thay đổi</button>
    </div>
    <div class="col-1">
      <button mat-raised-button class="crimson-color" [routerLink]="['/customer/account']">Huỷ</button>
    </div>
  </mat-dialog-actions>
</form>
